<!DOCTYPE html>
<html lang="en">
<head>
    <title>Goal Buddies - About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/goalbuddies.js"></script>
</head>

<body>
    <div class="container">
        <% include header.ejs %>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2>What is Goal Buddies?</h2></div>
                        <div class="panel-body">
                            <h4>Goal Buddies is an Android and web application that allows
                            users to achieve more goals. Through the use of small social 
                            networks, we can sustain motivation and encourage people to
                            work towards their goals more often!</h4>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2>Disclaimer</h2></div>
                        <div class="panel-body">
                            <h4><p>This is a student made project, nothing fancy, so the design
                            of the website and application will be more oriented towards
                            functionality, rather than aesthetics.</p>
                            <p>As this project is a work in progress, bugs and loopholes
                            are sure to be found. Also, data may be wiped periodically as
                            the schema changes or new bugs are fixed.</p>
                            <p class="text-danger"><strong>With all of this taken into consideration,
                            don't store anything sensitive on the server.</strong></p></h4>
                        </div>
                    </div>
                </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>
