<!DOCTYPE html>
<html lang="en">
<title>Goal Buddies - Search</title>
<% include header.ejs %>

<body>
    <div class="container">
        <% include topnav.ejs %>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="alert alert-info" role="alert">
				Results for "<strong><%= q %></strong>"
				</div>
				
				<div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h2>User Results</h2></div>
						<div class="panel-body">
							<% if(user) { %>
							<%= user.username %>
							<% } else { %>
							No user found!
							<% } %>
						</div>
					</div>
					<br>
					<a href="/goals">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Your Goal Results</h2></div>
                        <div class="panel-body">
                            <% for(var i = 0; i < goals.length; i++) { %>
							<div class="alert alert-warning" role="alert">
							<%= goals[i].description %>
							</div>
							<% } %>
                        </div>
                    </div>
					</a>
                </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>
