<!DOCTYPE html>
<html lang="en">
<head>
    <title>Goal Buddies - Add a Goal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="/javascripts/goal/new.js"></script>
</head>

<body>
    <div class="container">
        <% include ../header.ejs %>
          
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div id="errorDiv" class='alert alert-danger hidden'>
                        <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                        <span id="errorMessage"></span>
                    </div>

                    <form role="form" id="newGoalForm" action="/goal" method="POST">
                        <input type="hidden" name="token" value="<%= token %>">

                        <div class="panel panel-default">
                            <div class="panel-heading">Goal Details</div>
                            <div class="panel-body">
                                <div class="form-group has-feedback">
                                    <label for="description">Goal:</label>
                                    <textarea class="form-control" rows="5" name="description" id="description"
                                        placeholder="Eg. Finish a coding project!"></textarea>
                                    <span class="glyphicon form-control-feedback" id="descriptiong"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="type">Goal Type:</label>
                                    <select class="form-control" id="type" name="type">
                                        <option value="0">Recurring</option>
                                        <option value="1">One-Time</option>
                                    </select>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="daysToFinish">How many days from now do you expect to finish?</label>
                                    <input id="daysToFinish" type="text" class="form-control" name="daysToFinish">
                                    <span class="glyphicon form-control-feedback" id="daysToFinishg"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="icon">Icon (placeholder, numeric)</label>
                                    <input id="icon" type="text" class="form-control" name="icon">
                                    <span class="glyphicon form-control-feedback" id="icong"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Goal!</button>
                        <img id="loaderGif" src="/images/ajax-loader.gif" class="hidden"/>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</body>
</html>
