<!DOCTYPE html>
<html lang="en">
<title>Goal Buddies - Login</title>
<% include ../header.ejs %>
<script src="/javascripts/user/login.js"></script>
<body>
    <div class="container">
        <% include ../topnav.ejs %>

        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div id="errorDiv" class='alert alert-danger hidden'>
                        <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                        <span id="errorMessage"></span>
                    </div>

                    <form id="loginForm" role="form" action="/api/users/login" method="POST">
                        <div class="form-group">
                            <label for="usr">Username:</label>
                            <input id="username" type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <img id="loaderGif" src="/images/ajax-loader.gif" class="hidden"/>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</body>
</html>
