<!DOCTYPE html>
<html lang="en">
<title>Goal Buddies - <%= username ? username : "Not Found" %></title>
<% include ../header.ejs %>

<div class="container">
        <% include ../topnav.ejs %>
		<%= username ? username : "Not Found" %>
</div>
</html>
